- title @customer.name || @customer.phone

.row
  .col-sm-9
    %h3 Conversation (#{pluralize(@messages.count, 'message')})
    %table.table
      %thead
        %tr
          %th From
          %th To
          %th{style: "min-width: 400px;"} Message
          %th Sent at
      %tbody
        - @messages.each do |message|
          %tr{class: ("info"  if message.is_a?(InboundMessage))}
            - if message.is_a?(InboundMessage)
              %td= message.from_phone
              %td You
            - else
              %td You
              %td= message.to_phone
            %td= message.body
            %td= pretty_time(message.created_at)

  .col-sm-3
    %h3 #{@customer.phone}

    = form_for @customer do |f|
      .form-group
        %p= f.label :name, "Customer name", class: 'control-label'
        %p= f.text_field :name, class: 'form-control'

      .form-group
        %p= f.label :email, "Customer email", class: 'control-label'
        %p= f.text_field :email, class: 'form-control'

      .form-group= f.submit class: 'btn btn-primary'
