= form_for @<%= singular_table_name %>, html: {class: "form-horizontal"} do |f|
  -if @<%= singular_table_name %>.errors.any?
    .alert.alert-danger
      %h4= "#{pluralize(@<%= singular_table_name %>.errors.count, "error")} prohibited this <%= singular_table_name %> from being saved:"

      %ul
        - @<%= singular_table_name %>.errors.full_messages.each do |msg|
          %li= msg

<% for attribute in attributes -%>
  .form-group.form-group-lg
    = f.label :<%= attribute.name %>, class: 'col-sm-3 control-label'
    .col-sm-9
      = f.<%= attribute.field_type %> :<%= attribute.name %>, class: 'form-control'
<% end -%>
  .form-group.form-group-lg
    .col-sm-offset-3.col-sm-9
      = f.submit class: 'btn btn-primary btn-lg'
