= form_for @organization, url: organization_path, html: {class: "form-horizontal"} do |f|
  -if @organization.errors.any?
    .alert.alert-danger
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg

  .form-group.form-group-lg
    = f.label :name, "Organization name", class: 'col-sm-3 control-label'
    .col-sm-9= f.text_field :name, placeholder: "Your company", class: 'form-control'

  .form-group.form-group-lg
    = f.label :twilio_account_sid, "Twilio Account SID", class: 'col-sm-3 control-label'
    .col-sm-9= f.text_field :twilio_account_sid, class: 'form-control'

  .form-group.form-group-lg
    = f.label :twilio_auth_token, "Twilio Auth Token", class: 'col-sm-3 control-label'
    .col-sm-9
      = f.text_field :twilio_auth_token, class: 'form-control'
      .help-block Looking for your Twilio credentials? <a href="https://www.twilio.com/help/faq/twilio-basics/what-is-the-auth-token-and-how-can-i-change-it" target="_blank">Here's where to find them</a>.

  .form-group.form-group-lg
    .col-sm-offset-3.col-sm-9
      = f.submit class: 'btn btn-primary btn-lg'
