.page-header
  = link_to new_organization_path, :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New organization
  %h1 Listing organizations

- if @organizations.count == 0
  .well You don't have any organizations. #{link_to "Create an organization", new_organization_path} or ask to join one.
- else
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th
          %th Actions
      %tbody
        - @organizations.each do |organization|
          %tr
            %td= link_to organization.name, organization
            %td
              = link_to 'Edit', edit_organization_path(organization), class: 'btn btn-default'
              = link_to 'Delete', organization, :data => { confirm: 'Are you sure?' }, :method => :delete, class: 'btn btn-danger'
