.page-header
  = link_to edit_organization_path(@organization), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1= @organization.name

  %table.table
    %thead
      %tr
        %th User
        %th Actions
    %tbody
      - @user_organizations.each do |user_organization|
        - user = user_organization.user
        %tr
          %td= "#{user.full_name} (#{user.email})"
          %td
            - if user == current_user
              You can't remove yourself.
            - else
              = link_to "Remove", user_organization_path(user_organization), method: :delete, class: 'btn btn-danger'


= form_tag user_organizations_path, class: "form-horizontal form-inline" do
  .form-group.form-group-lg
    = hidden_field_tag :organization_id, @organization.id
    = text_field_tag :email, nil, placeholder: "Add user by email", class: "form-control"
  .form-group
    = submit_tag "Add", class: "btn btn-primary btn-lg"
