!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title= yield(:title).presence || "Ahoy!"
    %link{href: "//fonts.googleapis.com/css?family=Lato:400,700,400italic", rel: "stylesheet"}
    %link{rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"}
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"}
    %script{src: "//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body{class: body_classes}
    - if current_user
      %nav.navbar.navbar-default
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{type: "button", data: {toggle: "collapse", target: "#navbar"}}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.navbar-brand{href: root_path}
              %img{src: image_path("ahoy.png")}
          - if current_user.organization.present?
            #navbar.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li= link_to "Conversations", customers_path
              %ul.nav.navbar-nav.navbar-right
                %li{class: active_if_current(edit_organization_path)}= link_to "Organization", edit_organization_path
                %li{class: active_if_current(edit_user_path)}= link_to "Settings", edit_user_path
                %li= link_to "Log out", destroy_session_path
    - flash.each do |name, msg|
      = content_tag :div, class: "alert alert-#{name.to_sym == :alert ? "warning" : "success" }" do
        = msg
    .container= yield

    - if Rails.env.production?
      :javascript
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-60681541-1', 'auto');
        ga('send', 'pageview');
