<!DOCTYPE html>
<html>
<head>
  <title>Bananaphone</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |type, message| %>
    <div class="alert alert-info fade in"><%= message %></div>
  <% end %>

  <%= yield %>

</body>
</html>
